<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>


    <%- sails.services.theme.getAdminJsScriptTag() %>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="icon" href="/theme/dist/favicon.ico">

    <meta name="application-name" content="We.js">
    <meta name="description" content="We.js | real time social network system">
    <meta name="application-url" content="http://wejs.org">

    <meta property="og:site_name" content="We.js">
    <meta property="og:url" content="http://wejs.org">
    <meta property="og:title" content="We.js">
    <meta property="og:description" content="real time social network system with node.js">
    <meta property="og:type" content="application
    ">
    <meta property="og:image" content="/core/images/we-logo-branco-small.png">

    <meta name="csrf-token" content="<%= _csrf %>" />

    <%- sails.services.theme.getAdminlinkCssTags() %>

    <!-- Load ember.js models with AdminController -->
    <script type="text/javascript" src="/api/v1/models/emberjs"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-cloak>
    <div class="hidden">
      <img src="/core/images/connected.png">
      <img src="/core/images/reconnecting.gif">
      <img src="/core/images/disconnected.png">
    </div>

  </body>
</html>