<p>Olá <%= curador.displayName %>!</p>

<p>Voce foi cadastro como Curador dos Relatos de Experiencia da Comunidade de Práticas. Na próxima vez que se logar na CdP, acesso o perfil administrativo através do link que consta no menu ao lado de sua foto, no topo do site.
Sempre que um Relato de Experiência for designado a você, uma notificação será enviada ao seu email.</p>

<p>Uma grande abraço,</p>

<p>Equipe CdP</p>
