<p>Olá <%= user.displayName %>!</p>

<p>Um novo Relato de Experiência foi publicado na Comunidade de Práticas. Para visualiza-lo, <a href="<%= site.link %>/relato/<%= relato.id %>">clique aqui</a>.</p>

<p>Assim que possível, acesse a Ferramenta de Curadoria para designar um Curador.</p>
<p><a href="<%= site.link %>/admin">Ferramenta de Curadoria</a>.</p>

<p>Abraços,</p>
<p>Equipe CdP</p>
